<div class="container">
	<div class="col-sm-12">
		<div class="col-sm-3 category">name</div>
		<div class="col-sm-9">
		<span class="weak">me</span><span class="weak">@</span><span class="strong">allen</span><span class="weak">w</span><span class="strong">lee</span><span class="weak">.</span><span class="weak">com</span>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-3 category">web</div>
		<div class="col-sm-9">
			<span class="weak">me</span><span class="weak">@</span><span class="strong">allen</span><span class="strong">w</span><span class="strong">lee</span><span class="strong">.</span><span class="strong">com</span>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-3 category">email</div>
		<div class="col-sm-9">
			<span class="me">me</span><span class="at">@</span><span class="allen">allen</span><span class="w">w</span><span class="lee">lee</span><span class="dot">.</span><span class="com">com</span>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-3 category">twitter</div>
		<div class="col-sm-9">
			<span class="weak">me</span><span class="strong">@</span><span class="strong">allen</span><span class="strong">w</span><span class="strong">lee</span><span class="weak">.</span><span class="weak">com</span>
		</div>
	</div>

	<div class="col-sm-12">
	<div class="col-sm-4">technology</div>
	<div class="col-sm-4">entertainment</div>
	<div class="col-sm-4">finance</div>
	</div>
	
</div>