.container {
	text-align: center;
	font-size: 48px;
	font-family: 'Open Sans', sans-serif;
}

.strong {
	color: #000;
}

.weak {
	color: lightgray;
}

.line {

}

.me {

}

.at {

}


.allen {

}

.w {

}

.lee {

}

.dot { 

}

.com { 

}